*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(..//Imagens/estrelas.png);
    background-attachment: fixed;
}

.head {
    width: 100%;
    height: 65px;
    background-color: black;
    border-bottom: 2px solid #bf8b50;
}

.conteiner {
    width: 90%;
    height: 60px;
    background-color: black;
    margin: auto;
    display: flex;
}

#logoInicial{
    width: 350px;
}

.navbar{
    width: 50%;
    height: 60px;
    background-color: black;
    margin-left: auto;
    display: flex;
    list-style: none;
}

.navbar li {
    margin: auto;
    color: white;
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar .active{
    font-weight: bolder;
    color: #bf8b50;
}

#logo{
    width: 50px;
}

.bannertext{
    width: 100%;
    height: 700px;
    background-image: url(..//Imagens/fogo.png);
    border-bottom: 2px solid #daa520;
}

.bannertext h3{
    color: white;
    position: absolute;
    margin-top: 150px;
    margin-left: 22%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

.bannertext p{
    color: white;
    width: 50%;
    position: absolute;
    text-align: center;
    margin-top: 250px;
    margin-left: 25%;
    font-size: 18px;
    font-weight: bolder;
}

.bannertitulo img{
    height: 50px;
    margin-left: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bannertitulo h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.bannerlivros{
    width: 100%;
    height: 750px;
}

.bannerlivros .lineOne{
    width: 90%;
    height: 400px;
    margin: auto;
    display: flex;
}

.bannerlivros .lineOne .livroOne{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroOne.png);
    border-radius: 10px;
    transition: all 0.4s;
}
.livro:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    border: 3px solid #daa520;
}

.bannerlivros .lineOne .livroTwo{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroTwo.png);
    margin-left: 6.666%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivros .lineOne .livroTree{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroTree.png);
    margin-left: 6.666%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivros .lineOne .livroFour{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroFour.png);
    margin-left: 6.666%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivros .lineOne .livroFive{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroFive.png);
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivros .lineOne .livroSix{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroSix.png);
    margin-left: 6.666%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivros .lineOne .livroSeven{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroSeven.png);
    margin-left: 6.666%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivros .lineOne .livroEight{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroEight.png);
    margin-left: 6.666%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivrosTwo{
    width: 100%;
    height: 350px;
}

.bannerlivrosTwo .lineOne{
    width: 90%;
    height: 350px;
    margin: auto;
    display: flex;
}

.bannerlivrosTwo .lineOne .livroNine{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroNine.png);
    border-radius: 10px;
    margin-left: 10%;
    transition: all 0.4s;
}

.bannerlivrosTwo .lineOne .livroTen{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroTen.png);
    margin-left: 10%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivrosTwo .lineOne .livroEleven{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroEleven.png);
    margin-left: 10%;
    border-radius: 10px;
    transition: all 0.4s;
}

.bannerlivrosTree{
    width: 100%;
    height: 350px;
}

.bannerlivrosTree .lineOne{
    width: 90%;
    height: 350px;
    margin: auto;
    display: flex;
}

.bannerlivrosTree .lineOne .livroTwelve{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroTwelve.png);
    border-radius: 10px;
    margin-left: 20%;
    transition: all 0.4s;
}

.bannerlivrosTree .lineOne .livroThirteen{
    width: 20%;
    height: 350px;
    background-image: url(..//Imagens/livroThirteen.png);
    margin-left: 20%;
    border-radius: 10px;
    transition: all 0.4s;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 110px;
    width: 100%;
    position: relative;
    border-top: #bf8b50 solid;
    margin-top: 40px;
}

.footer p{
    font-weight: bolder;
    color: white;
}